/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import "~@fontsource/inter";
@import "~@fontsource/inter/600.css";
@import "~@fontsource/inter/800.css";

@import "fonts.css";

:root {
  /* Typography */
  --font-sans: "Strawford", "Open Sans", sans-serif;
  --font-serif: "Zilla Slab", "Times New Roman", serif;
  --font-mono: "SFMono-Regular", "Menlo", monospace;
  --font-size-00: 0.75rem;
  --font-size-0: 0.875rem;
  --font-size-1: 1rem;
  --font-size-1-25: 1.25rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.75rem;
  --font-size-4: 2.5rem;
  --font-size-5: 3.75rem;
  --font-size-body: 1.125rem;

  /* Colors */
  --white: #fff;
  --black: #000;
  --blue-100: #eefaff;
  --blue-200: #dff5ff;
  --blue-300: #bfeaff;
  --blue-400: #6eceff;
  --blue-500: #32b8fb;
  --blue-600: #00a7fb;
  --blue-700: #008ace;
  --blue-800: #005580;
  --blue-900: #00273b;
  --purple-100: #f5f2fc;
  --purple-200: #ece6f9;
  --purple-300: #dbcdf6;
  --purple-400: #c2aef0;
  --purple-500: #9478d2;
  --purple-600: #7352ba;
  --purple-700: #59418d;
  --purple-800: #3f2971;
  --purple-900: #1a0d36;
  --mint-100: #effbf9;
  --mint-200: #cff2ec;
  --mint-300: #9ee5d9;
  --mint-400: #6fd7c6;
  --mint-500: #4fceba;
  --mint-600: #30b09c;
  --mint-700: #26907f;
  --mint-800: #1b6054;
  --mint-900: #134038;
  --orange-100: #fdf3ef;
  --orange-200: #ffe0d5;
  --orange-300: #ffc1ad;
  --orange-400: #fea285;
  --orange-500: #ff865e;
  --orange-600: #ff6632;
  --orange-700: #f53d01;
  --orange-800: #cc3201;
  --orange-900: #791f00;
  --gray-100: #f2f4f7;
  --gray-200: #e9ebf0;
  --gray-300: #dadce0;
  --gray-400: #c4c7cd;
  --gray-500: #9ba0a8;
  --gray-600: #858993;
  --gray-700: #65686f;
  --gray-800: #414246;
  --gray-90000: #1a1c1f;

  /* Gradients */
  --purple-gradient: linear-gradient(180deg, #1a0d36 0%, #59418d 100%);
  --purple-gradient-rev: linear-gradient(180deg, #4c3b7f 0%, #291c4c 100%);

  /* Shadows */
  --shadow: 0 1px 1px 0 rgb(65 66 70 / 34%);

  /* Borders */
  --radius: 24px;

  --ifm-color-success: var(--mint-400);
  --ifm-color-success-contrast-background: var(--mint-100);
  --ifm-color-success-contrast-foreground: var(--mint-900);
  --ifm-color-success-dark: var(--mint-500);

  --ifm-color-info: var(--blue-400);
  --ifm-color-info-contrast-background: var(--blue-100);
  --ifm-color-info-contrast-foreground: var(--blue-900);
  --ifm-color-info-dark: var(--blue-500);

  --ifm-color-warning: var(--yellow-400);
  --ifm-color-warning-contrast-background: var(--yellow-100);
  --ifm-color-warning-contrast-foreground: var(--yellow-900);
  --ifm-color-warning-dark: var(--yellow-500);

  --ifm-color-danger: var(--red-400);
  --ifm-color-danger-contrast-background: var(--red-100);
  --ifm-color-danger-contrast-foreground: var(--red-900);
  --ifm-color-danger-dark: var(--red-500);

  --ifm-color-secondary: var(--gray-2);
  --ifm-color-secondary-contrast-background: var(--gray-100);
  --ifm-color-secondary-contrast-foreground: var(--gray-900);
  --ifm-color-secondary-dark: var(--gray-300);

  --ifm-color-primary: var(--blue-600);
  --ifm-color-primary-dark: var(--blue-700);
  --ifm-color-primary-darker: var(--blue-800);
  --ifm-color-primary-darkest: var(--blue-900);
  --ifm-color-primary-light: var(--blue-500);
  --ifm-color-primary-lighter: var(--blue-400);
  --ifm-color-primary-lightest: var(--blue-300);

  --ifm-navbar-link-color: var(--white);
  --ifm-navbar-link-hover-color: var(--blue-500);

  --ifm-footer-background-color: var(--purple-900);
  --ifm-footer-color: var(--gray-600);
  --ifm-footer-link-color: var(--white);

  --ifm-code-font-size: 95%;
  --ifm-font-family-base: var(--font-sans);
  --ifm-heading-font-weight: 600;
  --ifm-font-weight-bold: 600;
}

html[data-theme="dark"] {
  --ifm-font-color-base: var(--white);
  --ifm-menu-color: var(--white);
  --ifm-heading-color: var(--white);
  --ifm-background-color: var(--gray-900);

  --ifm-navbar-link-color: var(--white);

  --ifm-footer-background-color: var(--gray-800);
  --ifm-footer-color: var(--gray-200);
  --ifm-footer-link-color: var(--white);

  --ifm-color-primary: var(--blue-400);
  --ifm-color-primary-dark: var(--blue-700);
  --ifm-color-primary-darker: var(--blue-800);
  --ifm-color-primary-darkest: var(--blue-900);
  --ifm-color-primary-light: var(--blue-500);
  --ifm-color-primary-lighter: var(--blue-400);
  --ifm-color-primary-lightest: var(--blue-300);

  --ifm-color-success-contrast-background: var(--mint-800);
  --ifm-color-success-contrast-foreground: var(--mint-100);

  --ifm-menu-color-background-hover: var(--gray-800);
  --ifm-menu-color-background-active: var(--gray-800);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-4);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  font-size: var(--font-size-2);
}

h5 {
  font-size: var(--font-size-1);
}

small {
  font-size: var(--font-size-0);
}


.navbar {
  background-image: linear-gradient(
    to right,
    var(--black),
    #2e1f51 80%
  );
}

.navbar__logo {
  align-items: center;
  display: flex;
}

.navbar__logo img {
  height: 18px;
  margin-right: 0.5rem;
}

.navbar__brand:hover,
.navbar__brand:focus {
  color: var(--white);
}

.navbar__link {
  font-weight: 600;
}

.main-wrapper {
  padding-top: 2rem;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Pagination styling */
.pagination-nav__sublabel {
  display: none;
}

.pagination-nav__link {
  border: 0px;
  border-top: 1px solid var(--ifm-color-emphasis-300);
  border-radius: 0;
}

/* Color Mode Toggle Switch */
html
.navbar__items--right div:first-of-type div:first-of-type {
  width: 54px;
}

.navbar__items--right > div:first-of-type {
  border: solid 2px #5a408e;
  border-radius: 1rem;
}

.navbar__items--right div[role=button] {
  border: solid 2px var(--purple-700);
  background: var(--purple-700);
  border-radius: 100px;
  color: white;
  font-size: 24px;
}

html[data-theme="dark"] .react-toggle .react-toggle-thumb,
.react-toggle--checked .react-toggle-thumb {
  left: 31px;
}

html
.navbar__items--right div:first-of-type div:first-of-type div:last-of-type {
  background-color: var(--purple-200);
}

/* Header Search Bar */
html .DocSearch-Button {
  height: 28px;
}

.DocSearch-Button .DocSearch-Search-Icon {
  height: 14px;
  width: 14px;
}

html .DocSearch-Button-Key {
  background: none;
  box-shadow: none;
  margin-right: 0;
  width: auto;
  padding-bottom: 0px;
}

.DocSearch-Button-Keys {
  justify-content: flex-end;
}

html .DocSearch-Button-Placeholder {
  font-size: 0.85rem;
}
html .DocSearch-Button .DocSearch-Search-Icon {
  color: var(--gray-800);
}

html[data-theme="dark"] .DocSearch {
  --docsearch-searchbox-background: var(--gray-300);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  --docsearch-text-color: var(--gray-800);
}

/* Mobile Menu */
.navbar__toggle {
  color: var(--white);
}

.navbar-sidebar__brand {
  background-image: linear-gradient(
    to right,
    var(--black),
    #2e1f51 80%
  );
}

/* Table Styling */
table {
  border: solid 1px var(--ifm-table-border-color);
  max-width: fit-content;
}

table tr th:first-child,
table tr td:first-child {
  border-left: none;
}

table tr th:last-child,
table tr td:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}

table td {
  min-width: 225px;
}

table::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}

table::-webkit-scrollbar-track {
  background-color: var(--gray-100);
  border-top: solid 1px var(--ifm-table-border-color);
}

table::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--ifm-table-border-color);
  -webkit-box-shadow: 0 0 1px var(--ifm-table-border-color);
}

.alert--success {
  --ifm-alert-background-color-highlight: hsl(
    var(--mint-400),
    var(15%)
  );
}

.alert--info {
  --ifm-alert-background-color-highlight: hsl(
    var(--blue-400),
    var(15%)
  );
}

.alert--caution {
  --ifm-alert-background-color-highlight: hsl(
    var(--yellow-400),
    var(15%)
  );
}

.alert--danger {
  --ifm-alert-background-color-highlight: hsl(
    var(--red-200),
    var(15%)
  );
}

.dropdown--right {
  margin-right: var(--ifm-navbar-item-padding-horizontal);
  padding: calc(var(--ifm-navbar-item-padding-vertical) * 0.5) var(--ifm-navbar-item-padding-horizontal);
}

.navbar__title {
  text-transform: uppercase;
  border-left: 1px solid var(--purple-400);
  padding-left: 1rem;
}

