@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-RegularItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-BoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Strawford";
  src: url("/fonts/strawford/Strawford-BlackItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}